use flake

export APPLICATION_PORT=8000
export IB_GATEWAY_USERNAME="$(gopass show ibkr/live_user_id)"
export IB_GATEWAY_PASSWORD="$(gopass show ibkr/live_user_pass)"
export IB_GATEWAY_PERSIST=true
export IB_COMMAND_SERVER_PORT=7462
